<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div ng-controller="MapCtrl">
      <section>
        <div class="card">
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                Distance départ
              </div>
              <select ng-model="selectAround">
                <option value="1000">1km</option>
                <option value="2000">2km</option>
                <option value="5000">5km</option>
                <option value="10000">10km</option>
              </select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
                Distance arrivée
              </div>
              <select>
                <option selected>1km</option>
                <option>2km</option>
                <option>5km</option>
                <option>10km</option>
              </select>
            </label>
          </div><br />
          <div class="row">
            <button type="button" ng-click="" class="button button-royal pull-right" style="width:100%;">Find !</button>
          </div>
          </div>
        </div>
        <section id="map" ng-if="aff">
          <div ui-map="myMap" ui-options="mapOptions" class="map"></div>
        </section>
        <button type="button" ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Trouve moi !</button>
      </section>
    </div>
  </ion-content>
</ion-view>
